html {
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
    font-size: calc(10px + 10.45 * (100vw - 375px) / 392);
}

@media (min-width: 768px) {
    html {
        font-size: calc(8px + 2 * (100vw - 72px) / 70);
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    /*colors*/
    --color-black: #050505;
    --color-slide-button: #707070;
    --color-menu-hover: #4db8ff47;
    --color-gray: #F7F7F7;
    --color-gray-font: #908C8C;
    --color-blue: #1B3DCB;
    --color-blue-light: #1F4FD5;
    --color-blue-font: #3026FA;
    --color-blue-gradient: linear-gradient(267deg, #0b036c -130%, #1b3dcb 50%);
    --color-yellow-font: #FAAF22;
    --color-white: #fff;
}

body {
    min-width: 320px;
    margin: 0;
    background-color: var(--color-white);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    color: var(--color-black);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

figure {
    margin: 0;
}

picture {
    display: inline-block;
}